<header>
    <h1>EXAMEN - PRIMER PARCIAL</h1>
    <h3>Koby Eilhard Hidalgo Romano</h3>
  </header>

  <main >
    <div class="cell">
      <h2>JavaScript</h2>
      <img src="../../../assets/images/Mio_2.jpg" alt="Imagen Sección 1" class="image-left">
      <p class="justificado">JavaScript es un lenguaje de programación interpretado, dialecto del estándar ECMAScript. Se define como orientado a objetos, basado en prototipos, imperativo, débilmente tipado y dinámico.</p>
    </div>

    <div class="cell image-bg">
      <h2>TAREAS</h2>
      <ul>
        <li>Tarea 1:  <a href="../../../assets/js/Tarea_3.js">Ver</a></li>
        <li>Tarea 2:  <a href="../../../assets/js/Lab_1.js">Ver</a></li>
      </ul>
    </div>

    <div class="cell">
        <h2>LABORATORIOS</h2>
        <ul>
            <li><b>2.0.15</b> Laboratorio "Variables": <a href="../../../assets/js/Lab_1.js">Ver</a></li>
        </ul>
        <ul>
            <li><b>2.2.5</b> Laboratorio "Data Types ": <a href="../../../assets/js/Lab_2.js">Ver</a></li>
        </ul>
        <ul>
            <li><b>3.2.5</b> Laboratorio "Interaction": <a href="../../../assets/js/Lab_3.js">Ver</a></li>
        </ul>
        <ul>
            <li><b>4.0.9</b>  Laboratorio "Conditional execution" <a href="../../../assets/js/Lab_4.js">Ver</a></li>
        </ul>
        <ul>
            <li><b>4.1.12</b> Laboratorios "Loops" <a href="../../../assets/js/Lab_5.js">Ver</a></li>
        </ul>
        <ul>
            <li><b>5.1.11</b> Laboratorio "Functions (Part 1)" <a href="../../../assets/js/Lab_6.js">Ver</a></li>
        </ul>
        <ul>
            <li><b>5.1.12</b> Laboratorio "Functions (Part 2)" <a href="../../../assets/js/Lab_7.js">Ver</a></li>
        </ul>
    </div>
  </main>
  <div class="marca-de-agua">INTERESTELLAR</div>
  <footer>
    <p>&copy; 2023 - "TECNOLOGIAS EMERGENTES - SIS414" </p>
  </footer>